.image{
	
	height: 300px;
    margin-left: 12px;
    margin-right: 12px; 
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius:6px;
    border:2px solid;
	}

nav{
    min-width:750px;
}

.lolo{
    background-color: #050579;
    height: 60px;
    margin-bottom:5px;
}



.bt{
    background-color:#000000;
    cursor: pointer;
    border-radius:5px;
    color:white;
    margin:0 auto;
}

.lala{
    width:190px;
}

 .Mn{
   height:70px;
 }
 
 .button{
    color:white;
}


nav>ul>li{
    padding:14px;
    width:167px;
    height:62px;
    text-align:center; 
    float: left;
    cursor: pointer;
    font-family: gothic;

}


#menu {
    height:66px;
    list-style:none;
    margin-top:0px;
    background-color:rgb(1, 1, 59);
    border:2px solid;
}


@font-face{
    font-family: gothic;
    src: url("fontsTCC/gothic.ttf") 
}

@font-face{
    font-family: Messages;
    src: url("fontsTCC/Messages.ttf")

}

@font-face{
    font-family: Flamante;
    src: url("fontsTCC/Flamante.ttf")

}

.titulo{
    font-size: 22px;
    text-align: center;
    margin:0 auto;
    margin-top: 2px;
    font-family: Flamante;
}

#imgP{
    float: left;
    height:60px;
    width:150px;
    cursor: pointer;
}

#corpo{
background-image: url(../imgTCC/predios2.jpg);
background-repeat: no-repeat;
background-size:120% 120%; 
background-attachment: fixed;
}

#PGP{
   margin:0 auto;
   width:584px;
   height:803px;
   border:1px solid;
   border-color: white;
   background-color: black;
}

.apartamento{
    display:none;
    margin-top: 22px;
}

.casa{
    display:none;
    margin-top: 22px;
}

.sobrado{
    display:none;
    margin-top: 22px;
}

.terreno{
    display: none;
    margin-top: 15px;
    
}

#FP{
   margin:0 auto;
   display:block;
   margin-top:8px;
}

#cr{
    color:white;
    font-size:85px;
    text-align: center;
    font-family: Flamante;
    height:120px; 
}

#cris{
    font-size: 100px;
    font-family: Messages;
}

#email{
    color:white;
    text-align: center;
    height:40px;
    font-size: 24px;
}

#linha{
    background-color:white;
    height:10px;
    width:496px;
    margin:0 auto;
}

#creci{
    height:63px;
    width:160px;
    background-color: white;
    border-radius: 8px;
    margin-top:18px;
    margin-right: 101px;
    margin-left: 379px;
}

#CRE{
    text-align: center;
    font-size:25px;
    margin-top:18px;
    padding-top:11px;
}

#ven{
 color:white;
 font-size: 150px;
 font-family: Flamante;
 width:531px;
 height:147px;
 margin:0 auto;
}

#vende{
    margin:0 auto;
    height:110px;
}

#num1{
    color:white; 
    font-size:50px;
    width:336px;
    float: left;
    margin-left: 17px;
}

#divNum1{
    width:458px;
    margin:0 auto;
    margin-top:25px;
    text-align: center;
    height:92px;
}

#num2{
    color:white;
    font-size:50px;
    width:336px;
    margin:0 auto;
    float: left;
    margin-left: 17px;
}

#divNum2{
    width:458px;
    margin:0 auto;
}

#tel2{
    float:left;
    height: 33px;
    margin-top:21px;
}

#tel1{
    float:left;
    height: 33px;
    margin-top:21px;
}

.texTerre{
    display:none;
}

.textSobra{
    display: none;
}

.textCasa{
    display: none;
}

.textApart{
    display: none;
}

.btSinFaP{
    display:none;
}

.btSinFte{
    display:none;
}

.btSinFsO{
    display:none;
}

.btSinFcA{
    display:none;
}


.casa1{
    height:300px;
    width:350px;  
    overflow: hidden;
}


.casa1 { transition: all .2s ease-in-out; }
.casa1:hover { transform: scale(1.1);}

.card{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 285px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

h6{
    text-decoration: underline;
}

.top{
    margin-top: 15px;
}

.topAP{
    margin-top: 15px;
}

.topSO{
    margin-top: 15px;
}

.topTE{
    margin-top: 15px;
}

